.page {
	padding: 0.5% 0%;
	width: 100%
}

.aside {
	float: left;
	width: 15%;
	margin-right: 5px;
	margin-bottom: 5px;
}

.header {
	background: #F1F1F1;
}

.login tr.z-row td.z-row-inner {
	background: #F1F1F1;
	border: 1px solid #F1F1F1;
}