<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <bean id="userDetailsService" class="controller.seguridad.generic.UserDetailsServiceImpl"> 
		</bean> -->

	<!-- Load beans in the classpath package -->
	<context:component-scan base-package="dao">
	</context:component-scan>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="org.postgresql.Driver" />
		<property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/verdura" />
		<property name="user" value="postgres" />
		<property name="password" value="leyner.18654277" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- set Hibernate properties in hibernate.cfg.xml file -->
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<!-- <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> 
		<property name="host" value="${mail.host}" /> <property name="port" value="${mail.port}" 
		/> <property name="username" value="${mail.username}" /> <property name="password" 
		value="${mail.password}" /> <property name="javaMailProperties"> <props> 
		<prop key="mail.smtp.auth">true</prop> </props> </property> </bean> -->
</beans>